<div class="my-3 p-3 rounded box-shadow">
	<h6 class="border-bottom border-gray pb-2 mb-0">Commentaier et avis</h6>

	{% include 'public/book/_shard/_new_comment.html.twig' %}

	<hr>

	{% set items = [ 1,2,3,4,5 ] %}
	{% for item in items %}
		{% include 'public/book/_shard/_single_comment.html.twig' %}
	{% endfor %}

	<small class="d-block text-right mt-3">
		<a href="#">Voir tout les commentaire</a>
	</small>
</div>
