<div class="col mb-5">
	<div class="card h-100">
		<img class="card-img-top" src="https://random.imagecdn.app/300/150" alt="..."/>
		<div class="card-body p-4">
			<div class="text-center">
				<h5 class="fw-bolder">
					{{ book.title }}
				</h5>
				<p>
					{{ book.description|truncate(30) }}
				</p>
				$40.00 - $80.00
			</div>
		</div>
		<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
			<div class="text-center">
				<a class="btn btn-outline-dark mt-auto" href="{{ path('app.book.detail', { 'bookId' : book.id } ) }}">Voir le details</a>
			</div>
		</div>
	</div>
</div>
